<h1>Team Name = <%= @team[:name] %></h1>
<p>Team Motto = <%= @team[:motto] %></p>


<h2>Hero 1 Name = <%= @team[:members][:super1][:name] %></h2>
<p>Hero 1 Power = <%= @team[:members][:super1][:power] %></p>
<p>Hero 1 Biography = <%= @team[:members][:super1][:bio] %></p>


<h2>Hero 2 Name = <%= @team[:members][:super2][:name] %></h2>
<p>Hero 2 Power = <%= @team[:members][:super2][:power] %></p>
<p>Hero 2 Biography = <%= @team[:members][:super2][:bio] %></p>

<h2>Hero 3 Name = <%= @team[:members][:super3][:name] %></h2>
<p>Hero 3 Power = <%= @team[:members][:super3][:power] %></p>
<p>Hero 3 Biography = <%= @team[:members][:super3][:bio] %></p>


