<!DOCTYPE html>
<html>
	<head><h1><%= params[:team][:name] %></h1></head>
	<body>
		<h4>Team Motto: <%= params[:team][:motto] %></h4>
		<h4>Hero Name: <%= params[:team][:members][:super1][:name] %></h4>
		<h7>Hero Power: <%= params[:team][:members][:super1][:power] %></h7><br>
		<h7>Hero Biography: <%= params[:team][:members][:super1][:bio] %></h7><br>
		<h4>Hero Name: <%= params[:team][:members][:super2][:name] %></h4>
		<h7>Hero Power: <%= params[:team][:members][:super2][:power] %></h7><br>
		<h7>Hero Biography: <%= params[:team][:members][:super2][:bio] %></h7><br>
		<h4>Hero Name: <%= params[:team][:members][:super3][:name] %></h4>
		<h7>Hero Power: <%= params[:team][:members][:super3][:power] %></h7><br>
		<h7>Hero Biography: <%= params[:team][:members][:super3][:bio] %></h7><br>

	</body>
</html>

